body{
    margin: 0;
}

body {
    font-family: 'Poppins', ;
}

.top-banner {
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 150px;

}

h1 {
    font-size: 50px;
}

p {
    color: dimgray;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
    text-transform: capitalize;
}

.high-light {
    color: orange;
}

.half-width {
    width: 40% ;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.link {
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
}

.dream-area {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
    height: 500px;
}

.half-width img {
    width: 100%;
}