body{
    margin: 0;
}

body {
    font-family: 'Poppins', ;
}

.top-banner {
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;

}

h1 {
    font-size: 50px;
}

.high-light {
    color: orange;
}

.half-width {
    width: 40% ;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.link {
    color: white;
    font-weight: 700;
    background: red;
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(45deg orange, tomato);
}